[submodule "dot-config/ranger/plugins/devicons2"]
	path = dot-config/ranger/plugins/devicons2
    url = https://github.com/cdump/ranger-devicons2
[submodule "dot-config/ranger/plugins/zoxide"]
    path = dot-config/ranger/plugins/zoxide
    url = git@github.com:jchook/ranger-zoxide.git
[submodule "dot-config/ranger/colorschemes/drakula"]
    path = dot-config/ranger/colorschemes/drakula
    url = https://github.com/dracula/ranger.git
[submodule "dot-librewolf/n3k_profile/chrome"]
	path = dot-librewolf/n3k_profile/chrome
	url = https://github.com/soulhotel/FF-ULTIMA.git
